name: pkg.pr.new

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read
  pull-requests: write

jobs:
  publish:
    if: "!startsWith(github.ref, 'refs/tags/')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
      - name: Installing deps
        run: pnpm install
      - name: Building
        run: pnpm run build
      - name: Publish preview packages
        run: npx pkg-pr-new publish --pnpm --packageManager=pnpm
